<div class="register">
  <div class="container-fluid p-0 dark-alpha-screen">
    <div class="row no-gutters">
      <div class="col-12 text-white pt-xl-5 pb-xl-4 pt-2">
        <div class="container auth-image-container">
          <figure class="logo-container text-center">
            <img
              class="logo auth-logo"
              src="./assets/images/icon-rsz.png"
              alt="Tenthis Logo"
            />
          </figure>
          <h2>Tenthis</h2>
        </div>
      </div>
      <div class="col-12">
        <div class="container">
          <div class="register-container">
            <app-register-form
              registerText="Unete a esta gran comunidad de tenderos."
            >
            </app-register-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
