<div class="box-shadow-card border-radius p-form">
  <form>
    <div class="form-group d-flex justify-content-center align-items-center ">
      <figure class="app-icon-xl mr-4">
        <fa-icon [icon]="userIcon" size="2x"></fa-icon>
      </figure>
      <div>
        <label for="">Username</label>
        <input type="text" class="form-control" placeholder="Username" />
      </div>
    </div>
    <div class="d-flex  flex-column align-items-end px-4">
      <div class="form-group w-100 mb-3">
        <label for="">Tienda</label>
        <input type="text" class="form-control" placeholder="Tienda" />
      </div>
      <div class="form-group w-100  mb-3">
        <label for="">Correo</label>
        <input type="text" class="form-control" placeholder="Correo" />
      </div>
    </div>
    <div class="d-flex justify-content-end mt-2 px-4">
      <button class="btn btn-danger br-btn mr-3 px-3">Eliminar</button>
      <button class="btn btn-dark mr-3 br-btn px-3">Bloquear</button>
      <button class="btn btn-main br-btn px-3">Guardar</button>
    </div>
  </form>
</div>
