<div class="box-shadow-card border-radius p-form">
  <form [formGroup]="userForm">
    <div class="form-group d-flex justify-content-center align-items-center">
      <figure class="app-icon-xl mr-4">
        <fa-icon [icon]="userIcon" size="2x"></fa-icon>
      </figure>
      <div>
        <label for="">Username</label>
        <input
          [ngClass]="{
            'invalid-input': name.invalid && (name.dirty || name.touched)
          }"
          formControlName="name"
          type="text"
          class="form-control"
          placeholder="Username"
        />
        <div
          *ngIf="name.invalid && (name.dirty || name.touched)"
          class="validation-error text-danger"
        >
          <span>Debe ingresar un nombre de usuario</span>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-end px-4">
      <div class="form-group w-100 mb-3">
        <label for="">Rol</label>
        <select
          [ngClass]="{
            'invalid-input': role.invalid && (role.dirty || role.touched)
          }"
          (change)="validateRole($event)"
          formControlName="role"
          class="custom-select"
        >
          <option *ngFor="let r of roles" [value]="r.value">
            {{ r.name }}
          </option>
        </select>
        <div
          *ngIf="role.invalid && (role.dirty || role.touched)"
          class="validation-error text-danger"
        >
          <span>Debe seleccionar un rol</span>
        </div>
      </div>
      <div class="form-group w-100 mb-3">
        <label for="">Plan</label>
        <select
          class="form-control"
          formControlName="plan"
          [ngClass]="{
            'invalid-input': plan.invalid && (plan.dirty || plan.touched)
          }"
        >
          <option *ngFor="let plan of plans" [value]="plan._id">
            {{ plan.name }}
          </option>
        </select>
        <div
          *ngIf="plan.invalid && (plan.dirty || plan.touched)"
          class="validation-error text-danger"
        >
          <span>Debe seleccionar un plan</span>
        </div>
      </div>
      <div class="form-group w-100 mb-3">
        <label for="">Nombre tienda</label>
        <input
          [ngClass]="{
            'invalid-input': store.invalid && (store.dirty || store.touched)
          }"
          formControlName="storeName"
          type="text"
          class="form-control"
          placeholder="Nombre tienda"
        />
        <div
          *ngIf="store.invalid && (store.dirty || store.touched)"
          class="validation-error text-danger"
        >
          <span *ngIf="store.errors?.required"
            >Debe ingresar un nombre de tienda</span
          >
        </div>
      </div>
      <div class="form-group w-100 mb-3">
        <label for="">Correo</label>
        <input
          [ngClass]="{
            'invalid-input': email.invalid && (email.dirty || email.touched)
          }"
          formControlName="email"
          type="text"
          class="form-control"
          placeholder="Correo"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="validation-error text-danger"
        >
          <span *ngIf="email.errors?.required">Debe ingresar un email</span>
          <span *ngIf="email.errors?.pattern"
            >Debe ingresar un email valido</span
          >
        </div>
      </div>
      <div class="form-group w-100 mb-3">
        <label for="">Contraseña</label>
        <input
          [ngClass]="{
            'invalid-input':
              password.invalid && (password.dirty || password.touched)
          }"
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Contraseña"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="validation-error text-danger"
        >
          <span *ngIf="password.errors?.required"
            >Debe ingresar una contraseña</span
          >
          <span *ngIf="password.errors?.minlength"
            >La contraseña debe contener minimo 8 caracteres</span
          >
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-2 px-4">
      <button *ngIf="editMode" class="btn btn-danger br-btn mr-3 px-3">
        Eliminar
      </button>
      <button
        (click)="createUser()"
        [disabled]="!userForm.valid"
        *ngIf="!editMode"
        class="btn btn-main br-btn px-3"
      >
        Guardar
      </button>
      <button *ngIf="editMode" class="btn btn-main br-btn px-3">Editar</button>
    </div>
  </form>
</div>
