<div class="container">
  <div *ngIf="page" class="row">
    <div
      *ngFor="let block of page.html; let i = index"
      [class]="'col-lg-' + block.columns"
    >
      <div [style]="setBackground(block)" [innerHTML]="block.html"></div>

      <div class="w-25 d-flex flex-wrap">
        <button class="btn btn-page btn-main" (click)="editBlock(i)">Editar</button>
        <button class="btn btn-page delete btn-main" (click)="deleteBlock(i)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
