<div class="container">
  
  <div class="save-container justify-content-center">
    <button class="btn btn-danger br-btn mr-3">Descartar</button>
    <button class="btn btn-darker br-btn mr-3">Guardar página</button>
  </div>
  <div *ngIf="page" class="row no-gutters">
    <div *ngFor="let block of page.html" [class]="'col-lg-' + block.columns">
      <div [innerHTML]="block.html"></div>

      <div class="w-25 d-flex flex-wrap">
        <button class="btn btn-page edit-lg btn-main">Editar</button>
        <button class="btn btn-page delete btn-main">Eliminar</button>
      </div>
    </div>
  </div>
</div>
