<div class="container p-4">
  <div class="row">
    <div class="col-lg-12 bg-dark position-relative text-center text-white p-4">
      <p>Bloque 1</p>
      <br />
      <br />
      <br />
      <br />

      <button class="btn btn-page edit-lg btn-main">Editar</button>
      <button class="btn btn-page delete btn-main">Eliminar</button>
    </div>
    <div class="col-lg-4 bg-dark position-relative text-center text-white p-4">
      <p>Bloque 2</p>
      <br />
      <br />
      <br />
      <br />
      <button class="btn btn-page btn-main edit">Editar</button>
      <button class="btn btn-page btn-main delete">Eliminar</button>
    </div>
    <div class="col-lg-4 bg-dark position-relative text-center text-white p-4">
      <p>Bloque 3</p>
      <br />
      <br />
      <br />
      <br />
      <button class="btn btn-page btn-main edit">Editar</button>
      <button class="btn btn-page btn-main delete">Eliminar</button>
    </div>
    <div class="col-lg-4 bg-dark position-relative text-center text-white p-4">
      <p>Bloque 4</p>
      <br />
      <br />
      <br />
      <br />
      <button class="btn btn-page btn-main">Editar</button>
      <button class="btn btn-page btn-main">Eliminar</button>
    </div>
    <div class="col-lg-6 bg-dark position-relative text-center text-white p-4">
      <p>Bloque 5</p>
      <br />
      <br />
      <br />
      <br />
      <button class="btn btn-page btn-main">Editar</button>
      <button class="btn btn-page btn-main">Eliminar</button>
    </div>
    <div class="col-lg-6 bg-dark position-relative text-center text-white p-4">
      <p>Bloque 6</p>
      <br />
      <br />
      <br />
      <br />
      <button class="btn btn-page btn-main">Editar</button>
      <button class="btn btn-page btn-main">Eliminar</button>
    </div>
  </div>
</div>
