<div class="login">
  <div class="container-fluid p-0 dark-alpha-screen">
    <div class="row no-gutters">
      <div class="col-12 text-white pt-xl-4 pb-xl-2 pt-2">
        <a class="text-white text-decoration-none" routerLink="">
          <div class="container auth-image-container">
            <figure class="logo-container text-center">
              <img
                class="logo auth-logo"
                src="./assets/images/icon-rsz.png"
                alt="Tenthis Logo"
              />
            </figure>
            <h2>Tenthis</h2>
          </div>
        </a>
      </div>
      <div class="col-12">
        <div class="container">
          <div class="register-container">
            <app-login-form></app-login-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
