<div class="container p-5">
  <div class="row px-5">
    <div class="col-lg-7">
      <h2>Planes</h2>
    </div>
    <div class="col-lg-5 d-flex justify-content-end">
      <button class="btn-basic" (click)="newPlan()">Nuevo</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-4">
      <app-list *ngIf="!loading else spinner">
        <div
          *ngFor="let plan of plans"
          class="card-item"
          (click)="editPlan(plan._id)"
        >
          <figure class="app-icon">
            <fa-icon [icon]="planIcon" size="lg"></fa-icon>
          </figure>
          <div class="ml-3">
            <p>{{ plan.name }}</p>
          </div>
        </div>
      </app-list>
      <ng-template #spinner>
        <app-spinner></app-spinner>
      </ng-template>
    </div>
    <div class="offset-1 col-lg-7 justify-content-center ml-auto mr-auto">
      <app-plan-form
        [editMode]="editMode"
        [editPlan]="currentPlan"
        [icon]="planIcon"
        (updatedPlan)="updatePlan($event)"
        (createdPlan)="addPlan($event)"
        (deletedPlan)="deletePlan($event)"
      ></app-plan-form>
    </div>
  </div>
</div>
