<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <h2>Nuestras tiendas</h2>
    </div>
    <div class="col-12 mb-4">
      <p>
        Puedes crear la tienda que quieras: Un restaurante, una venta de
        plantas, de ropa, tu imaginación es el limite y nosotros somos tu medio
      </p>
    </div>
    <div *ngFor="let store of stores" class="col-lg-3 col-md-6 col-sm-6 col-12 mb-sm-2 store-list">
      <div class="store">
        <figure class="store__image">
          <img [src]="store.img" alt="" />
        </figure>
        <h5 class="store__name">{{ store.name }}</h5>
      </div>
    </div>
  </div>
</div>
