.card-item {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 15px 25px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 1px 5px 1px #d2e0d3;
  border-radius: 20px;

  &:hover {
    transition: all 0.2s ease-out;
    top: -4px;
    background-color: var(--color-dark);
    color: white;
    
    .app-icon {
      color: var(--color-primary);
      background-color: white;
    }
  }
}

.block-item {
  margin-bottom: 20px;
  padding: 18px 45px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__left {
    display: inherit;
    justify-content: space-between;
    align-items: inherit;
  }

  &__actions {
    display: inherit;
    justify-content: space-evenly;
    align-items: inherit;
  }

  &:hover {
    cursor: pointer;
    transition: all 0.2s ease-out;
    top: -4px;
    background-color: var(--color-dark);
    color: white;

    .app-icon-lg {
      background-color: white !important;
      color: var(--color-primary);
    }
  }
}

.block-icon:hover {
  background-color: white !important;
  color: var(--color-danger);
}

.delete-icon:hover {
  background-color: white !important;
  color: var(--color-primary);
}

.edit-icon:hover {
  background-color: white !important;
  color: #007bff;
}

.bg-primary.edit-icon:hover {
  background-color: white !important;
  color: #007bff;
}
