@mixin border-radius {
  border-radius: 20px;
}

@mixin icon($width: 40px, $heigth: 40px, $color: var(--color-primary)) {
  display: flex;
  margin-bottom: 0;
  width: $width;
  height: $heigth;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  background-color: $color;
}
