.border-radius {
  border-radius: 10px;
}


.bg-main {
  background-color: var(--color-primary);
}

.bg-lighten {
  background-color: var(--color-lighten);
}

.bg-darken {
  background-color: var(--color-darken);
}