@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
:root {
  --font-family: "Noto Sans JP", sans-serif;
  --color-primary: #108b47;
  --color-accent: #42c24f;
  --color-hover: #29a335;
  --color-primary-light: #32b56d;
  --color-secondary: #f2df80;
  --color-alternative: #1d55bd;
}
