.btn-action {
  padding: 3px 20px;
}

@mixin order-client-img($width: 38px, $height: 38px) {
  img {
    width: $width;
    height: $width;
    border-radius: 50%;
    object-fit: cover;
  }
}

.order-client-img-md {
  @include order-client-img();
}

.order-client-img-xl {
  @include order-client-img(80px, 80px);
}
