<aside class="page-form bg-lighten-gray">
  <div class="row no-gutters mb-4">
    <div class="col-lg-4">
      <button
        class="btn btn-tab"
        (click)="currentForm = 'ct'"
        [class.active]="currentForm === 'ct'"
      >
        Editor CT
      </button>
    </div>
    <div class="col-lg-4">
      <button
        class="btn btn-tab"
        (click)="currentForm = 'bt'"
        [class.active]="currentForm === 'bt'"
      >
        Editor BT
      </button>
    </div>
    <div class="col-lg-4">
      <button
        class="btn btn-tab"
        (click)="currentForm = 'nbt'"
        [class.active]="currentForm === 'nbt'"
      >
        Nuevo BT
      </button>
    </div>
  </div>
  <form [formGroup]="pageForm" class="px-4">
    <div class="row no-gutters mb-4">
      <h5>Datos de la página</h5>
      <div class="form-group">
        <label for="">Título</label>
        <input
          formControlName="title"
          type="text"
          class="form-control"
          placeholder="Título de la página"
        />
      </div>
      <div class="form-group">
        <label for="">Descripcion</label>
        <textarea
          formControlName="description"
          class="form-control"
          placeholder="Descripcion"
        ></textarea>
      </div>
      <div class="form-group d-flex align-items-center">
        <small class="" for="">Marcar como página principal</small>
        <input formControlName="isMain" class="ml-3" type="checkbox" />
      </div>
      <div class="form-group d-flex align-items-center">
        <small class="" for="">¿Es visible al cliente?</small>
        <input formControlName="isVisible" class="ml-3" type="checkbox" />
      </div>
    </div>
    <div class="row no-gutters mb-3">
      <h5 class="mb-4">
        {{ currentForm === "nbt" ? "Nuevo bloque" : "Bloques" }}
      </h5>
      <ng-container [ngSwitch]="currentForm">
        <ng-container *ngSwitchCase="'ct'">
          <div class="col-lg-12">
            <label for="">HTML</label>
            <ace-editor
              formControlName="html"
              [mode]="'html'"
              style="min-height: 180px"
            ></ace-editor>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="">CSS</label>
            <ace-editor
              formControlName="css"
              [mode]="'css'"
              style="min-height: 180px"
            ></ace-editor>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div class="col-lg-12 mb-3">
            <label for="">Columnas a ocupar</label>
            <select
              formControlName="columns"
              type="text"
              class="form-control"
              placeholder="N° de columnas"
            >
              <option *ngFor="let num of columns" [value]="num">
                {{ num }}
              </option>
            </select>
          </div>
          <div class="col-lg-12 wyswyg-editor">
            <div class="d-flex justify-content-between mb-3">
              <label for="">Editor</label>
              <button class="btn btn-main br-btn txt-sm">
                Agregar shortcout
              </button>
            </div>

            <quill-editor formControlName="wyswyg"></quill-editor>
          </div>
          <div class="col-lg-12 mb-3">
            <p>Fondo</p>
            <select formControlName="bgBlock" class="form-control">
              <option *ngFor="let image of media" [value]="image._id">
                {{ image.name | mediaName }}
              </option>
            </select>
            <div class="d-flex justify-content-end">
              <button class="mt-2 btn btn-danger br-btn mr-3">Quitar</button>
              <button
                class="mt-2 btn btn-main br-btn mr-3"
                (click)="saveBlock()"
              >
                Agregar
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-12 d-flex justify-content-end">
        <button class="btn btn-danger br-btn mr-2">Cancelar</button>
        <button class="btn btn-main br-btn" (click)="saveBlock()">
          Guardar bloque
        </button>
      </div>
    </div>
  </form>
</aside>
