<div class="form-card text-white">
  <form>
    <h3>Registrate</h3>
    <p *ngIf="registerText">{{ registerText }}</p>
    <div class="form-group">
      <select class="custom-select border-radius">
        <option value="0">Plan</option>
      </select>
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control border-radius"
        placeholder="Nombre de tu tienda"
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        class="form-control border-radius"
        placeholder="Correo"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control border-radius"
        placeholder="Contraseña"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control border-radius"
        placeholder="Confirmar contraseña"
      />
    </div>
    <button class="btn btn-block btn-light br-btn mt-4">Registrate</button>
  </form>
  <ng-content> </ng-content>
</div>
