<div class="container p-5">
  <div class="row px-5">
    <div class="col-lg-12">
      <h2>Tiendas</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-8 ml-auto mr-auto">
      <div *ngFor="let store of stores" class="store box-shadow-card rounded">
        <div class="store__left">
          <figure class="app-icon-lg mr-4">
            <fa-icon [icon]="tentIcon" size="lg"></fa-icon>
          </figure>
          <h3>{{ store.name }}</h3>
        </div>
        <div class="store__actions">
          <figure class="app-icon bg-danger mr-2 block-icon">
            <fa-icon [icon]="blockIcon" size="lg"></fa-icon>
          </figure>
          <figure class="app-icon delete-icon">
            <fa-icon [icon]="deleteIcon" size="lg"></fa-icon>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
