

.nav-landing {
  width: 100%;
  position: absolute;
  top: 10px;
  z-index: 10;
  padding: 0 4em  ;
}


.link {
  font-size: 1.2em;
}

@media screen and (max-width:992px){
  .menu {
    padding: 40px;
    background-color: var(--color-darken);
    border-radius: 20px;
  }
  
}