<nav class="navbar navbar-expand nav">
  <figure class="logo-container">
    <img src="./assets/images/icon.png" alt="Tenthis Logo" class="logo" />
  </figure>
  <h2 class="text-white">Tenthis</h2>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-4">
      <li class="nav-item">
        <a class="nav-link text-white link" href="#">Beneficios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white link" href="#">Tiendas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white link" href="#">Planes</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto my-2 my-lg-0">
      <li class="nav-link">
        <button class="btn btn-basic">Registrate</button>
      </li>
      <li class="nav-link">
       <button class="btn btn-basic">Login</button>
      </li>
    </ul>
  </div>
</nav>
