<div class="container">
  <div class="row no-gutters">
    <div class="col-lg-3 col-md-8">
      <div class="d-flex align-items-center">
        <figure class="logo-container">
          <img
            class="img-fluid"
            src="./assets/images/icon.png"
            alt="Tenthis logo"
          />
        </figure>
        <h3>Tenthis</h3>
      </div>
      <h5>&copy; 2020</h5>
      <h5>IS-912 Desarrollo Web</h5>
    </div>
    <div class="col-lg-6 col-md-8 d-flex justify-content-around">
      <div>
        <h4 class="mb-3">Q/A</h4>
        <ul>
          <a class="text-white" href="">
            <li>¿Puedo crear multiples productos?</li>
          </a>
          <a class="text-white" href="">
            <li>¿Los productos se muestran con imagenes?</li>
          </a>
          <a class="text-white" href="">
            <li>¿Mi tienda vence?</li>
          </a>
        </ul>
      </div>
      <div>
        <h4 class="mb-3">¿Como empezar?</h4>
        <ul>
          <a class="text-white" href="">
            <li>Guía de inicio rapido</li>
          </a>
          <a class="text-white" href="">
            <li>Guía de cliente</li>
          </a>
          <a class="text-white" href="">
            <li>Guía de dueños</li>
          </a>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-8">
      <div class="social-media d-flex">
        <a class="text-white">
          <fa-icon [icon]="fbIcon" size="2x"></fa-icon>
        </a>
        <a class="text-white">
          <fa-icon [icon]="twIcon" size="2x"></fa-icon>
        </a>
        <a class="text-white">
          <fa-icon [icon]="igIcon" size="2x"> </fa-icon>
        </a>
      </div>
      <hr />
      <div class="dev-info d-flex justify-content-around">
        <figure class="dev__image">
          <img
            class="dev__image"
            src="./assets/images/dev.jpg"
            alt="Site creator"
          />
        </figure>
        <div class="dev__description">
          <p>Desarrollado por</p>
          <a class="link text-white" href="https://github.com/abulnes16"
            ><h5>@abulnes16</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
