<div class="box-shadow-card border-radius p-form">
  <form [formGroup]="productForm">
    <div class="form-group d-flex justify-content-center align-items-center">
      <figure class="app-icon-xl mr-4">
        <fa-icon [icon]="icon" size="2x"></fa-icon>
      </figure>
      <div>
        <label for="">Nombre producto</label>
        <input
          [ngClass]="{
            'invalid-input': name.invalid && (name.dirty || name.touched)
          }"
          formControlName="name"
          type="text"
          class="form-control"
          placeholder="Producto"
        />
        <div
          *ngIf="name.invalid && (name.dirty || name.touched)"
          class="validation-error text-danger"
        >
          <span>Debe ingresar un nombre de producto</span>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-end px-4">
      <div class="form-group w-100 mb-3">
        <label for="">Descripción</label>
        <textarea
          [ngClass]="{
            'invalid-input':
              description.invalid && (description.dirty || description.touched)
          }"
          formControlName="description"
          class="form-control"
          placeholder="Descripción"
        ></textarea>
        <div
          *ngIf="
            description.invalid && (description.dirty || description.touched)
          "
          class="validation-error text-danger"
        >
          <span>Debe ingresar una descripción del producto</span>
        </div>
      </div>
      <h5 class="mr-auto mb-3">Datos del producto</h5>
      <div class="row">
        <div class="col">
          <div class="form-group w-100 mb-3">
            <label for="">Precio</label>
            <input
              [ngClass]="{
                'invalid-input': price.invalid && (price.dirty || price.touched)
              }"
              formControlName="price"
              type="number"
              class="form-control"
              placeholder="Precio"
            />
            <div
              *ngIf="price.invalid && (price.dirty || price.touched)"
              class="validation-error text-danger"
            >
              <span *ngIf="price.errors?.required"
                >Debe ingresar un precio</span
              >
              <span *ngIf="price.errors?.min"
                >El precio no puede ser menor a 1
              </span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group w-100 mb-3">
            <label for="">Categoria</label>
            <select
              [ngClass]="{
                'invalid-input':
                  category.invalid && (category.dirty || category.touched)
              }"
              formControlName="category"
              class="custom-select"
            >
              <option *ngFor="let category of categories" [value]="category._id">
                {{ category.name }}
              </option>
            </select>
            <div
              *ngIf="category.invalid && (category.dirty || category.touched)"
              class="validation-error text-danger"
            >
              <span>Debe seleccionar una categoria</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group w-100 mb-3">
            <label for="">Cantidad</label>
            <input
              [ngClass]="{
                'invalid-input':
                  quantity.invalid && (quantity.dirty || quantity.touched)
              }"
              formControlName="quantity"
              type="number"
              class="form-control"
              placeholder="Cantidad"
            />
            <div
              *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"
              class="validation-error text-danger"
            >
              <span>Debe ingresar la cantidad de producto a vender</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group w-100 mb-3">
            <label for="">Tags</label>
            <input
              formControlName="tags"
              type="text"
              class="form-control"
              placeholder="Tags"
            />
          </div>
        </div>
      </div>
      <div class="form-group w-100 mb-3">
        <div class="d-flex justify-content-between mb-4">
          <label for="">Multimedia</label>
          <label class="btn btn-sm btn-basic" for="input-gallery">Añadir</label>
          <input
            type="file"
            hidden
            id="input-gallery"
            (change)="addToGallery($event)"
          />
        </div>
        <div class="form-gallery scrollbar">
          <div *ngIf="gallery.length !== 0; else emptyMedia" class="row">
            <div *ngFor="let img of gallery" class="col-lg-4 mb-3">
              <div class="relative">
                <img [src]="img" alt="Gallery" />
                <span
                  class="r-gallery app-icon-xs bg-danger"
                  (click)="removeFromGallery(img)"
                  >&times;</span
                >
              </div>
            </div>
          </div>
        </div>
        <ng-template #emptyMedia>
          <div class="text-center mt-4">
            <p>No hay imagenes para esta plantilla</p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-2 px-4">
      <button *ngIf="editMode" class="btn btn-danger br-btn mr-3 px-3">
        Eliminar
      </button>
      <button *ngIf="editMode" class="btn btn-main br-btn px-3">Editar</button>
      <button
        (click)="createProduct()"
        *ngIf="!editMode"
        [disabled]="!productForm.valid"
        class="btn btn-main br-btn px-3"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
