<div class="container p-5">
  <div class="row px-5">
    <div class="col-lg-12">
      <h2>Configuración</h2>
    </div>
  </div>
  <form>
    <div class="row mt-3 no-gutters px-5">
      <div class="col-lg-12 mb-3">
        <h4>Generales</h4>
      </div>
      <div class="col-lg-12 box-shadow-card p-4 border-radius">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="">Nombre de la tienda</label>
              <input type="text" class="form-control" placeholder="Nombre" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="">Palabras clave</label>
              <input type="text" class="form-control" placeholder="Keywords" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="">Descripción</label>
              <textarea
                class="form-control"
                placeholder="Descripción"
                rows="5"
              ></textarea>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <p class="mb-1">Logotipo</p>
                  <img
                    class="config-img"
                    src="./assets/images/shop.jpg"
                    alt="Store logo"
                  />
                  <input class="file-input" id="logo-file" type="file" />
                  <div>
                    <label for="logo-file" class="btn btn-main block config-btn"
                      >Agregar</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <p class="mb-1">Favicon</p>
                  <img
                    class="config-img"
                    src="./assets/images/shop.jpg"
                    alt="Store logo"
                  />
                  <input class="file-input" id="fav-file" type="file" />
                  <div>
                    <label for="fav-file" class="btn btn-main block config-btn"
                      >Agregar</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 no-gutters px-5">
      <div class="col-lg-12 mb-3">
        <h4>Sitio</h4>
      </div>
      <div class="col-lg-12 box-shadow-card border-radius p-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="">Header</label>
              <ace-editor
                [mode]="'html'"
                style="min-height: 150px"
              ></ace-editor>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">Visualización del header</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="">Footer</label>
              <ace-editor
                [mode]="'html'"
                style="min-height: 150px"
              ></ace-editor>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">Visualización del footer</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="">CSS del sitio</label>
              <ace-editor [mode]="'css'" style="min-height: 150px"></ace-editor>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="">JS del sitio</label>
              <ace-editor
                [mode]="'javascript'"
                style="min-height: 150px"
              ></ace-editor>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 no-gutters px-5">
      <div class="col-lg-12 d-flex justify-content-end">
        <button class="btn btn-danger br-btn mr-3 px-3">Descartar</button>
        <button class="btn btn-main br-btn px-3">Guardar</button>
      </div>
    </div>
  </form>
</div>
