.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.config-img {
  width: 150px;
  margin: 10px auto;
}

.config-btn {
  font-size: 13px;
  padding: 5px 15px;
  
}
