.hero {
  background-color: var(--color-primary);
  color: white;
  padding: 10em 5em 5em 4em;
  
  &__container {
    width: 80%;
    margin: 0 auto;
  }

  h1 {
    font-size: 4em;
  }

  h5 {
    font-weight: normal;
    margin: 30px 0;
  }
}

@media screen and (max-width: 768px){
  .hero {
    font-size: 12px;
  }
}
@media screen and (max-width: 426px){
  .hero {
    font-size: 10px;
  }
  h1 {
    margin-top: 20px;
  }
}