<div class="container">
  <div class="row no-gutters">
    <div class="col-lg-6 col-md-12">
      <figure class="call-image">
        <img
          class="img-fluid"
          src="./assets/images/shop.jpg"
          alt="Shop image"
        />
      </figure>
    </div>
    <div class="col-lg-6 col-md-12 call-description d-flex flex-column justify-content-center">
      <h2 class="text-center">¿Que esperas para empezar a vender?</h2>
      <p>
        Tenthis te provee todo lo que necesitas para montar tu tienda en linea.
        No temas, lo dificil dejanoslo a nosotros. Nos encargamos de todo
        aquello que te aterra: Los pagos, el diseño web, las ordenes.
      </p>
      <p>
        Tenthis te permite tender tus productos y ya puedes comenzar a vender.
      </p>
      <button class="btn btn-block btn-main br-btn text-white mt-4">Crea una cuenta</button>
    </div>
  </div>
</div>
