<div class="container p-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-1">
      <h2>Usuarios</h2>
    </div>
    <div class="col-lg-3 offset-lg-2">
      <button class="btn-basic">Nuevo</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-4">
      <div class="users-list">
        <div class="user-item">
          <figure class="user-item__icon">
            <fa-icon [icon]="userIcon" size="lg"></fa-icon>
          </figure>
          <div class="user-item__info">
            <p>Nombre usuario</p>
            <div class="user-item__role badge">Rol</div>
          </div>
        </div>
        <div class="user-item">
          <figure class="user-item__icon">
            <fa-icon [icon]="userIcon" size="lg"></fa-icon>
          </figure>
          <div class="user-item__info">
            <p>Nombre usuario</p>
            <div class="user-item__role badge">Rol</div>
          </div>
        </div>
        <div class="user-item">
          <figure class="user-item__icon">
            <fa-icon [icon]="userIcon" size="lg"></fa-icon>
          </figure>
          <div class="user-item__info">
            <p>Nombre usuario</p>
            <div class="user-item__role badge">Rol</div>
          </div>
        </div>
        <div class="user-item">
          <figure class="user-item__icon">
            <fa-icon [icon]="userIcon" size="lg"></fa-icon>
          </figure>
          <div class="user-item__info">
            <p>Nombre usuario</p>
            <div class="user-item__role badge">Rol</div>
          </div>
        </div>
        <div class="user-item">
          <figure class="user-item__icon">
            <fa-icon [icon]="userIcon" size="lg"></fa-icon>
          </figure>
          <div class="user-item__info">
            <p>Nombre usuario</p>
            <div class="user-item__role badge">Rol</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 justify-content-center">Aqui va el formulario</div>
  </div>
</div>
