<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-12">
      <app-nav name="Tenthis Page Creator"></app-nav>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-md-3">
      <app-new-page-form
        [editBlock]="editBlock"
        (block)="addBlock($event)"
        (updateBlock)="updateBlock($event)"
      ></app-new-page-form>
    </div>
    <div class="col-md-9">
      <app-page-preview
        (deletedBlock)="removeBlock($event)"
        (editedBlock)="getEditBlock($event)"
        [page]="newPage"
      ></app-page-preview>
    </div>
  </div>
</div>
