/* You can add global styles to this file, and also import other style files */
@import "./styles/variables";
@import "./styles//mixins";
@import "./styles/buttons";
@import "./styles/utils";
@import "./styles//cards";
@import "./styles/gallery";
@import "./styles/media-queries";

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: var(--font-family);
  height: 100%;
}

