<div class="container p-5">
  <div class="row px-5">
    <div class="col-lg-7">
      <h2>Media</h2>
    </div>
    <div class="col-lg-5 d-flex justify-content-end">
      <button (click)="showFileModal()" class="btn-basic">Añadir</button>
    </div>
  </div>
  <div class="row mt-5 px-5">
    <div class="col-lg-12">
      <div class="row d-flex justify-content-between">
        <div class="col-lg-8">
          <div class="media__options">
            <ul class="d-flex list-unstyled border-radius box-shadow-card p-3">
              <li class="media-pill">Todo</li>
              <li class="media-pill">Imágenes</li>
              <li class="media-pill">Videos</li>
              <li class="media-pill">Documentos</li>
              <li class="media-pill">Audio</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="media__search d-flex">
            <input
              type="text"
              class="form-control mr-3"
              placeholder="Archivo"
            />
            <button class="btn btn-main br-btn px-3">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 px-5">
    <div class="col-lg-8">
      <div *ngIf="images.length !== 0; else mediaPlaceholder" class="gallery">
        <div class="row">
          <div *ngFor="let image of images" class="col-lg-4 mb-3">
            <div
              class="card border-radius box-shadow-card cursor-pointer"
              (click)="showDetails(image._id)"
            >
              <img
                class="card-img-top"
                [src]="image.path"
                alt="Card image cap"
              />
              <div class="card-body p-2 text-center">
                <p class="mb-1">{{ image.name | mediaName }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #mediaPlaceholder>
        <div class="px-3 py-2 text-center">
          <h5>No hay imagenes en tu galeria</h5>
        </div>
      </ng-template>
    </div>
    <div class="col-lg-4">
      <div *ngIf="files.length !== 0; else filePlaceholder" class="docs">
        <div class="row">
          <div *ngFor="let file of files" class="col-lg-6 mb-3">
            <div
              class="box-shadow-card p-3 file-card border-radius cursor-pointer"
              (click)="showDetails(file._id)"
            >
              <figure class="app-icon mb-2">
                <fa-icon [icon]="file.name | mediaIcon"></fa-icon>
              </figure>
              <small>{{ file.name | mediaName }}</small>
            </div>
          </div>
        </div>
      </div>
      <ng-template #filePlaceholder>
        <div class="px-3 py-2 text-center">
          <h5>No hay archivos en tu galeria</h5>
        </div>
      </ng-template>
    </div>
  </div>

  <ng-template #fileModal let-modal>
    <div class="modal-header bg-main">
      <h4 class="modal-title text-white" id="modal-basic-title">
        Añade un archivo
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="closeModal()"
      >
        <span class="text-white" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="px-5 py-2">
        <div class="form-group">
          <label>Nombre archivo</label>
          <input [(ngModel)]="fileName" type="text" class="form-control" />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01"
              >Cargar</span
            >
          </div>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="inputGroupFile01"
              (change)="saveFile($event)"
            />
            <label class="custom-file-label" for="inputGroupFile01">{{
              file === null ? "Seleccione un archivo" : file.name
            }}</label>
          </div>
        </div>
        <div *ngIf="file" class="progress">
          <div
            class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar"
            attr.aria-valuenow="{{ progress }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: progress + '%' }"
          >
            {{ progress }}%
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn br-btn btn-danger" (click)="closeModal()">
        Cancelar
      </button>
      <button (click)="uploadFile()" class="btn br-btn btn-main">Subir</button>
    </div>
  </ng-template>

  <ng-template #fileDetailModal let-modal>
    <div class="modal-header bg-main">
      <h4 class="modal-title text-white" id="modal-basic-title">
        Detalle del archivo
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span class="text-white" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="px-5 py-2">
        <div class="d-flex">
          <div class="mr-4">
            <figure class="app-icon-xl">
              <fa-icon
                size="2x"
                [icon]="currentFile.name | mediaIcon"
              ></fa-icon>
            </figure>
          </div>
          <div class="file__details">
            <div class="file__id">
              <strong>Identificador</strong>
              <p>{{ currentFile._id }}</p>
            </div>
            <div class="file__name">
              <strong>Nombre del archivo</strong>
              <p>{{ currentFile.name }}</p>
            </div>
            <div class="file__date">
              <strong>Ultima fecha de modificación</strong>
              <p>{{ currentFile.date | date: "dd/MM/yyyy" }}</p>
            </div>
            <div *ngIf="currentFile.type.startsWith('image')">
              <img class="img-fluid" [src]="currentFile.path" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn br-btn btn-danger">Eliminar</button>
    </div>
  </ng-template>
</div>
