<div class="container-fluid">
  <div class="row">
    <ng-container *ngIf="!loading; else spinner">
      <div class="col-lg-12" [innerHTML]="storeHeader"></div>
      <div
        *ngFor="let block of currentPage.html"
        [innerHTML]="block.html"
        [class]="'col-lg-' + block.columns"
      ></div>
      <div class="col-lg-12" [innerHTML]="storeFooter"></div>
    </ng-container>
  </div>
</div>
<ng-template #spinner>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <app-spinner></app-spinner>
      </div>
    </div>
  </div>
</ng-template>
